<ion-view title="Page">
  <ion-content padding="true" class="has-header">
    <div class="list card">
      <div class="item item-divider">Weather Now</div>
      <div class="item item-body">
        <img src="/app/img/{{(weather.currently.summary || 'loading')}}.png" width="100%">
      </div>
      <div class="item item-divider">{{weather.currently.summary}} {{weather.currently.apparentTemperature}}</div>
    </div>
    <div class="list card">
      <div class="item item-divider">Wardobles</div>
      <div class="item item-body">
        <ion-list>
          <ion-item>CAP</ion-item>
          <ion-item>Tshirt</ion-item>
          <ion-item>Short</ion-item>
        </ion-list>
      </div>
    </div>
    <div class="button-bar">
      <button class="button button-stable button-block">Home</button>
      <button class="button button-stable button-block">News</button>
      <button class="button button-stable button-block">About</button>
    </div>
  </ion-content>
</ion-view>
